@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 62.5%;
  min-height: 100vh;
  background-color: var(--background);
}

button, input {
  font: 500 1.6rem 'Inter', sans-serif;
  color: var(--white);
}

.page-wrapper {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
}
