@import url(./components/input-group.css);

.blog-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4.8rem 0;
  background: var(--gradient);
}

.blog-header header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 4.8rem;
}

.blog-header header h1,
.blog-header header h2 {
  font-weight: 400;
  font-size: 2.4rem;
}

.blog-header footer {
  width: 100%;
  height: 5.6rem;
}
